

#### Exercise 2:
1. Define a fraction number with numerator=123 and denominator=456, print out the fraction number in format `a/b` and the quotient with 8 digits after decimal point.

Sample output: `"123/456 = 0.269737"`

In [32]:
numerator = 123
denominator = 456

# code up your solution below
print(f'123/456 = {numerator/denominator :.8f}')

123/456 = 0.26973684

2. Print out every other character of the string `"Data Science"` using string slicing.

In [1]:
# code up you solution here
target = "Data Science"
print(target[::2])

Dt cec

3. The string `regex_wiki` contains the second paragraph of regular expression introduction in Wikipedia. Modify the string with all lower case and no space.

In [2]:
regex_wiki = """The concept arose in the 1950s when the American mathematician Stephen Cole Kleene formalized 
the description of a regular language. The concept came into common use with Unix text-processing utilities. 
Different syntaxes for writing regular expressions have existed since the 1980s, one being the POSIX standard 
and another, widely used, being the Perl syntax."""

# code up your solution below and print to check answer
print(regex_wiki.lower().replace(' ',''))

theconceptaroseinthe1950swhentheamericanmathematicianstephencolekleeneformalized
thedescriptionofaregularlanguage.theconceptcameintocommonusewithunixtext-processingutilities.
differentsyntaxesforwritingregularexpressionshaveexistedsincethe1980s,onebeingtheposixstandard
andanother,widelyused,beingtheperlsyntax.

4. Replace all `data` with `<3` in the following string. Use a string method to check `data` is not in the new string.

In [6]:
data_science = """Data science continues to evolve as one of the most promising and in-demand career paths for 
skilled professionals. Today, successful data professionals understand that they must advance past the traditional 
skills of analyzing large amounts of data, data mining, and programming skills. In order to uncover useful 
intelligence for their organizations, data scientists must master the full spectrum of the data science life cycle 
and possess a level of flexibility and understanding to maximize returns at each phase of the process."""

# code up your solution below
data_science_1 = data_science.replace('data','<3')
print('data' in data_science_1)

False

5. (Bonus Challenge): if you are familiar with string manipulation and `regex`, use python's regular expression `re` module to replace the first `a` in all `data` in the paragraph above, and keep the original case for the word.

`Data ---> D<3ta`, `data ---> d<3ta`, `DATA --- D<3TA`, etc.

We can use this example for an intro to regex if some of your are interested.

In [9]:
import re
# code up your solution here
data_science_2 = re.sub("data", 'd<3ta', data_science)
data_science_2 = re.sub("Data", 'D<3ta', data_science_2)
data_science_2 = re.sub("DATA", 'D<3TA', data_science_2)
print(data_science_2)

D<3ta science continues to evolve as one of the most promising and in-demand career paths for
skilled professionals. Today, successful d<3ta professionals understand that they must advance past the traditional
skills of analyzing large amounts of d<3ta, d<3ta mining, and programming skills. In order to uncover useful
intelligence for their organizations, d<3ta scientists must master the full spectrum of the d<3ta science life cycle
and possess a level of flexibility and understanding to maximize returns at each phase of the process.

Check out [Regular Expression syntax](https://docs.python.org/3/library/re.html#regular-expression-syntax) for how to "look around" in your pattern.

#### Exercise 3.

1. Write a program flow which will assign `grade` by the test scores using the following conditions:

    1. If score >= 90, grade="A"
    2. If 80 >= score >90, grade="B"
    3. If 70 >= score >80, grade="C"
    4. If 60 >= score >70, grade="D"
    5. IF score < 60, grade="F"

In [13]:
# code up your solution here
def grader(n):
    grade = 0
    if n>=90:
        grade="A"
    elif n>=80:
        grade="B"
    elif n>=70:
        grade="C"
    elif n>=60:
        grade="D"
    else:
        grade="F"
    return grade

grader(90)

'A'

2. x=1, y=1, write a flow to assign messge to different value base on different criteria as below, and in the end print out the message:

    a. If x less than y, messge="x is less than y"
    
    b. If x larger than y, messge="x is greater than y"
    
    c. If x equal to y, messge="x is the same as y"

In [20]:
# code up your solution here
x, y = 1,1
if x<y:
    print("x is less than y")
elif x>y:
    print("x is greater than y")
else:
    print('x is the same as y')

x is the same as y