

#### Exercise 2:
1. Define a fraction number with numerator=123 and denominator=456, print out the fraction number in format `a/b` and the quotient with 8 digits after decimal point.

Sample output: `"123/456 = 0.269737"`

In [32]:
numerator = 123
denominator = 456

# code up your solution below
print(f'123/456 = {numerator/denominator :.8f}')

123/456 = 0.26973684

2. Print out every other character of the string `"Data Science"` using string slicing.

In [1]:
# code up you solution here
target = "Data Science"
print(target[::2])

Dt cec

3. The string `regex_wiki` contains the second paragraph of regular expression introduction in Wikipedia. Modify the string with all lower case and no space.

In [2]:
regex_wiki = """The concept arose in the 1950s when the American mathematician Stephen Cole Kleene formalized 
the description of a regular language. The concept came into common use with Unix text-processing utilities. 
Different syntaxes for writing regular expressions have existed since the 1980s, one being the POSIX standard 
and another, widely used, being the Perl syntax."""

# code up your solution below and print to check answer
print(regex_wiki.lower().replace(' ',''))

theconceptaroseinthe1950swhentheamericanmathematicianstephencolekleeneformalized
thedescriptionofaregularlanguage.theconceptcameintocommonusewithunixtext-processingutilities.
differentsyntaxesforwritingregularexpressionshaveexistedsincethe1980s,onebeingtheposixstandard
andanother,widelyused,beingtheperlsyntax.

4. Replace all `data` with `<3` in the following string. Use a string method to check `data` is not in the new string.

In [6]:
data_science = """Data science continues to evolve as one of the most promising and in-demand career paths for 
skilled professionals. Today, successful data professionals understand that they must advance past the traditional 
skills of analyzing large amounts of data, data mining, and programming skills. In order to uncover useful 
intelligence for their organizations, data scientists must master the full spectrum of the data science life cycle 
and possess a level of flexibility and understanding to maximize returns at each phase of the process."""

# code up your solution below
data_science_1 = data_science.replace('data','<3')
print('data' in data_science_1)

False

5. (Bonus Challenge): if you are familiar with string manipulation and `regex`, use python's regular expression `re` module to replace the first `a` in all `data` in the paragraph above, and keep the original case for the word.

`Data ---> D<3ta`, `data ---> d<3ta`, `DATA --- D<3TA`, etc.

We can use this example for an intro to regex if some of your are interested.

In [9]:
import re
# code up your solution here
data_science_2 = re.sub("data", 'd<3ta', data_science)
data_science_2 = re.sub("Data", 'D<3ta', data_science_2)
data_science_2 = re.sub("DATA", 'D<3TA', data_science_2)
print(data_science_2)

D<3ta science continues to evolve as one of the most promising and in-demand career paths for
skilled professionals. Today, successful d<3ta professionals understand that they must advance past the traditional
skills of analyzing large amounts of d<3ta, d<3ta mining, and programming skills. In order to uncover useful
intelligence for their organizations, d<3ta scientists must master the full spectrum of the d<3ta science life cycle
and possess a level of flexibility and understanding to maximize returns at each phase of the process.

Check out [Regular Expression syntax](https://docs.python.org/3/library/re.html#regular-expression-syntax) for how to "look around" in your pattern.

#### Exercise 3.

1. Write a program flow which will assign `grade` by the test scores using the following conditions:

    1. If score >= 90, grade="A"
    2. If 80 >= score >90, grade="B"
    3. If 70 >= score >80, grade="C"
    4. If 60 >= score >70, grade="D"
    5. IF score < 60, grade="F"

In [21]:
# code up your solution here
def grader(n):
    grade = 0
    if n>=90:
        grade="A"
    elif n>=80:
        grade="B"
    elif n>=70:
        grade="C"
    elif n>=60:
        grade="D"
    else:
        grade="F"
    return grade

grader(21)

'F'

2. x=1, y=1, write a flow to assign messge to different value base on different criteria as below, and in the end print out the message:

    a. If x less than y, messge="x is less than y"
    
    b. If x larger than y, messge="x is greater than y"
    
    c. If x equal to y, messge="x is the same as y"

In [24]:
# code up your solution here
def compare(x,y):
    if x<y:
        print("x is less than y")
    elif x>y:
        print("x is greater than y")
    else:
        print('x is the same as y')
        
compare(3,2)

x is greater than y

#### Exercise 4.

1. [Read more on `list`](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists) and select 2 list methods not mentioned in class to give examples of using them.

In [64]:
one_list = list("Data Science")

# return number of occurrences of value
print(one_list.count('a'))

# extends the list by appending elements from the specified iterable [change in place]
one_list.extend([' ','HW01'])
print(one_list)

# extend vs append: append() aim to append a specified object at the end of the list
one_list_app = list("Data Science")
one_list_app.append([' ','HW01'])
print(one_list_app)

2
['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'HW01']
['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', [' ', 'HW01']]

2. How can you check if a `key` is already in a dictionary? Give an example.

In [69]:
one_dict = {'data':'science', 'science':0}
print('data' in one_dict)
print('Data' in one_dict)

True
False

3. [Explore how `Counter`](https://docs.python.org/3/library/collections.html#collections.Counter) works as another type of collection. Give 2 examples to use `Counter`.

In [74]:
from collections import Counter

# Counter is used to count the number of each item
list1 = ['x','y','z','x','x','x','y', 'z']
print(Counter(list1))

one_str = "Data Science"
print(Counter(one_str))

Counter({'x': 4, 'y': 2, 'z': 2})
Counter({'a': 2, 'c': 2, 'e': 2, 'D': 1, 't': 1, ' ': 1, 'S': 1, 'i': 1, 'n': 1})

4. The Fibonacci Sequence is the series of numbers:
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...

The next number is found by adding up the two numbers before it.
Find the last element of the `fibolist`

In [90]:
fibolist=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]

# code your solution here
print(fibolist[-1])

317811

5. Calculate the sum of `fibolist`

In [91]:
# code your solution here
print(sum(fibolist))

832039

6. Calculate and append the next fibonacci number to `fibolist`.

In [95]:
# code your solution here
next_fibo = fibolist[-1]+fibolist[-2]
next_fibo

514229

7. Create a reversed copy of fibolist without permanently reversing fibolist liteslf.

In [97]:
# code your solution here
import copy

deep_fibolist = copy.deepcopy(fibolist)
deep_fibolist.reverse()
print(f'Fibolist: {fibolist}')
print(f'Reversed Fibolist: {deep_fibolist}')

Fibolist: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]
Reversed Fibolist: [317811, 196418, 121393, 75025, 46368, 28657, 17711, 10946, 6765, 4181, 2584, 1597, 987, 610, 377, 233, 144, 89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

8. Check if `29473` is a fibonacci number, and assign the anser to variable `fibo_29473`

In [100]:
# code your solution here
fibo_29473 = 29473 in fibolist
print(fibo_29473)

False

9. Create two sets. Calculate the union, intersection, difference and symmetric difference for the two sets.

In [113]:
# code your solution here
x = set('5378-565612')
y = set('356103246-791')
print(f'x: {x}\ny: {y}')
print(f'Union: {x|y}')
print(f'Intersection: {x&y}')
print(f'Difference: {x-y}')
print(f'Symmetric Difference: {x^y}')

x: {'5', '-', '7', '3', '2', '8', '6', '1'}
y: {'5', '0', '-', '7', '3', '2', '4', '9', '6', '1'}
Union: {'5', '0', '-', '7', '3', '2', '8', '4', '9', '6', '1'}
Intersection: {'5', '-', '7', '3', '2', '6', '1'}
Difference: {'8'}
Symmetric Difference: {'0', '8', '4', '9'}

10. Creat a dictionary using at least two different methods.

In [115]:
# code your solution here
# refer to class material above for 3 ways
dict_1 = dict(apple=['red','tree',3],orange=['orange','tree',20])
dict_2 = {'apple':['red','tree',3],'orange':['orange','tree',20]}
print(dict_1)
print(dict_2)

{'apple': ['red', 'tree', 3], 'orange': ['orange', 'tree', 20]}
{'apple': ['red', 'tree', 3], 'orange': ['orange', 'tree', 20]}

11. Check if `2` and `9999` are fibonacci numbers. Create a dictionary `fibo_dict` with the numbers as keys, and boolean value=`True` if the number is fibonacci number, and `False` otherwise.

In [117]:
# code your solution here
is_fibo_2 = 2 in fibolist
is_fibo_9999 = 9999 in fibolist
fibo_dict = {2:is_fibo_2, 9999:is_fibo_9999}
fibo_dict

{2: True, 9999: False}