Goal: test how familiar you are with `pandas`

In [1]:
import pandas as pd

college = pd.read_csv('data/college.csv')
college.head()

,instnm,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,...,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [2]:
print(college.keys())
print(college.shape)

Index(['instnm', 'city', 'stabbr', 'hbcu', 'menonly', 'womenonly', 'relaffil',
       'satvrmid', 'satmtmid', 'distanceonly', 'ugds', 'ugds_white',
       'ugds_black', 'ugds_hisp', 'ugds_asian', 'ugds_aian', 'ugds_nhpi',
       'ugds_2mor', 'ugds_nra', 'ugds_unkn', 'pptug_ef', 'curroper', 'pctpell',
       'pctfloan', 'ug25abv', 'md_earn_wne_p10', 'grad_debt_mdn_supp'],
      dtype='object')
(7535, 27)

### Exercise 1
What is the median SAT Math score (satmtmid) for **The University of Texas at Dallas**?

In [3]:
# select rows with condition UT Dallas
UT_DALLAS = college.loc[college['instnm']=='The University of Texas at Dallas']
UT_DALLAS['satmtmid']

#college.loc[college['instnm']=='The University of Texas at Dallas']['satmtmid']

3768    645.0
Name: satmtmid, dtype: float64

### Exercise 2
What state (stabbr) has the 5th highest total undergraduate population (ugds) and what is that population?

In [4]:
# group by state and calculate total undergraduate population for each state and select 5th highest 
tot_ugds_by_state = college.groupby('stabbr')['ugds'].sum().sort_values(ascending=False) # get total ugds by state
population_5th = tot_ugds_by_state[4]
state_5th = tot_ugds_by_state.index.tolist()[4] # list state
print(f'Population 5th highest ugds state is {state_5th} with {population_5th}')

Population 5th highest ugds state is PA with 604942.0

In [5]:
tot_ugds_by_state

stabbr
CA    2304492.0
TX    1277374.0
NY     993623.0
FL     959753.0
PA     604942.0
IL     599816.0
OH     537638.0
AZ     520439.0
MI     494244.0
NC     462455.0
GA     443952.0
VA     431184.0
NJ     371819.0
MA     352018.0
IN     337002.0
MD     282294.0
MO     281828.0
WI     276171.0
MN     275346.0
CO     272011.0
TN     266933.0
WA     254376.0
AL     248298.0
PR     227033.0
UT     218544.0
SC     213571.0
IA     206455.0
KY     199104.0
LA     197569.0
OR     196438.0
OK     190496.0
CT     166746.0
KS     165652.0
MS     144918.0
AR     134820.0
WV     123068.0
NM     108172.0
NV     102342.0
NE      92751.0
ID      83850.0
NH      78298.0
RI      72723.0
HI      56657.0
ME      56027.0
DC      47615.0
DE      47330.0
MT      44120.0
ND      40883.0
SD      40744.0
VT      33277.0
AK      24932.0
WY      24688.0
GU       5682.0
FM       2344.0
VI       1971.0
AS       1276.0
MP       1120.0
MH       1078.0
PW        602.0
Name: ugds, dtype: float64

# Answer

In [6]:
# 1
college.loc[college['instnm'].str.contains('University of Texas'), 'instnm']
college.loc[college['instnm']=='The University of Texas at Dallas', 'satmtmid']


# 2
total_udgs = college.groupby('stabbr')['ugds'].sum()
total_udgs.nlargest(5).tail(1)

stabbr
PA    604942.0
Name: ugds, dtype: float64