# Intro to Python3 - Class01

### Cloning the repo to your local directory

In [5]:
%%bash
ls -al

total 168
drwxr-xr-x  8 dby  staff    256 Jan  8 20:55 .
drwxr-xr-x  7 dby  staff    224 Jan  8 20:14 ..
drwxr-xr-x  3 dby  staff     96 Jan  8 20:47 .ipynb_checkpoints
-rw-r--r--  1 dby  staff  50033 Jan  8 20:55 01_Python_Basics.ipynb
-rw-r--r--  1 dby  staff   4996 Jan  8 20:14 Anaconda_setup.md
-rw-r--r--  1 dby  staff   1744 Jan  8 20:14 HW1_reference_solution.py
-rw-r--r--  1 dby  staff   4823 Jan  8 20:14 environment.yml
-rw-r--r--  1 dby  staff  10729 Jan  8 20:14 git_setup.md

In [ ]:
%%bash

# download the repo to local
cd [your target local directory]
git clone https://github.com/DS-XL/ds-intro-class-2022.git

# your repo is now located at: [your target directory]/ds-class-intro
# enter the ds-class-intro repo
cd ds-class-intro

# check branch
git branch
# * master

# check what's available in the folder 'class01'
ls class01

# virtual env
conda activate intro

# launch jupyter notebook
jupyter notebook

# when you want to exit, hit control+c to shut down kernel

### Class agenda:
##### 1. Assign values to variables and simple arithmetics
##### 2. `Print` and simple string manimulation
##### 3. Value comparison and conditions using `if-elif-else`

Let's get started!

### 1. Assiging values to variabls and simple arithmetics
Python follows the syntax of `[VARIABLE NAME] = [VARIABLE OR VALUE]`. You can view variable as a label for the object you are dealing with. 

Unlike some other languages (e.g. Java), Python does not require declaring variable type as it will be inferred. 

Take the following for example:

In [6]:
i = 'ilskdj;'

In [7]:
i

'ilskdj;'

In [8]:
i,j,k = 0,1,i

In [9]:
i, j, k

(0, 1, 'ilskdj;')

In [12]:
a, b, c= 2,'dfd',{'key':'value'}
print(a,b,c)

2 dfd {'key': 'value'}

In [13]:
i = 5
float_number = 55.5
hello = "hello"
world = 'world'
true = True
not_true = False
five_sq = 5 * i
# the following example is assing variable to variable
i_float = float_number * i

In [29]:
# the following example is assing variable to variable

#### Notes from above examples:
  * A pond(#) sign used as comments sign in Python
  
  * Major python variable types are: numerical(integer and float), string and boolean
  
  * Both single and double quotation can be used to define string, the difference will be discussed later
  
  * A boolean variable is either `True` or `False`. It is veru useful in chaining program logic
  
  * python is case sensitive
  
  * A variable can be defined by arithmetic calculation results
  
  * A variable can be defined by a variable defined before

You can explore the type of variables by using `type()` function. Note here we have a few different types of variables.

In [9]:
type(i)

int

In [10]:
type(float_number)

float

In [11]:
type(true)

bool

In [12]:
type(i_float)

float

In [13]:
type(hello+world)

str

In [31]:
hello + world

'helloworld'

In [30]:
hello * 5

'hellohellohellohellohello'

In [32]:
j = i * i_float
type(j)

float

Also you can probalby already infer from the above: the type of result depends on the types of operands (`+, -, *, /, //, %, **` and others). If all inputs are `int` we would usually expect output of type `int` (except for division `/` which will give float), the same follows for `float`. When you have mixed types, the output usually is the same type as the one with more precision, hence `complex` > `float` > `int`. That's what you're seeing in `i_float`. To read more about operators, [this](https://www.tutorialspoint.com/python/python_basic_operators.htm) is a good resource.

To better understand what a variable and how it is a label for underlying object, look at some of the examples.

In [33]:
i

5

In [34]:
one = ONE = i
print(one, ONE)
one = one + 1
print(one, ONE)
one += 1
print(one, ONE)

5 5
6 5
7 5

In [35]:
one, ONE, i

(7, 5, 5)

In [43]:
none = None

In [45]:
type(none) # nan/null/nat

NoneType

#### Exercise 1:
1. Calculate the circumference and area of a circle with specified radius. (Reminder: `c=2pi*r , a=pi*r^2`)

If you'd like to use a proper Pi instead of `3.14`, you can use the following code to import `math` module. You can explore [python's documentation for `math` module](https://docs.python.org/3/library/math.html) to learn more about what's available.

In [14]:
import math

In [20]:
r=6
radius = r # enter your number before comment
pi = math.pi
# code up your solution using calculation and value assignment
circumference = 2 * pi *radius
area = pi * radius ** 2

In [21]:
print(circumference)
print(area)

37.69911184307752
113.09733552923255

2. Define a variable `a` with value 3, variable `b` with value 7, what's the value of `a/b`, `a//b`, and `a%b`? What's the ceiling and floor of `a/b`? (Hint: use `math.ceil` and `math.floor`)

In [22]:
# code up your solution here

a = 3
b = 7

print(a/b)
print(a//b)
print(a%b)

0.42857142857142855
0
3

In [23]:
math.ceil(a/b), math.floor(a/b)

(1, 0)

### 2. `Print` and simple string manipulations

#### 2.1 Printing
A critial skill for any programmer is to print information to the screen, which is super helpful to
* Provide scripts running process update and logs (scripts diagnotic information)
* Report results
* find and fix bugs

Note: in python2 you will see `print "something"` without the parentheses, it's python2 syntax for print statement (instead of a `print()` function in python3). If you'll need to fix some of the python2 code to make it work in python3 you can refer to [this official doc](https://docs.python.org/2/library/2to3.html).

Let's begin with our python learning through "Hello World"

In [48]:
print("HELLO World!")

HELLO World!

In [49]:
print(hello + ' ' + world + ' !')

hello world !

In [52]:
print(hello, world, '!')
print('new')

hello world !
new

In [53]:
print(hello, world, '!', sep='@@@', end='...')
print('ha')

hello@@@world@@@!...ha

Note the difference between the two: printing strings v.s. printing string from variables.

You can use some operators on strings like `+` and `*`

In [25]:
print ("Welcome to Machine Learning Course\n") # "/n" is the wildcard for next line
print (8 * "\n")                               # 8*"/n" next 8 lines
print ("Welcome to Machine Learning Course\n" * 3)

Welcome to Machine Learning Course










Welcome to Machine Learning Course
Welcome to Machine Learning Course
Welcome to Machine Learning Course

You can use `end` argument to specify ending of string printing.

In [28]:
print ("Welcome to", end = ' '*5) 
print ("Machine Learning Course", end = '!')

Welcome to     Machine Learning Course!

`r"\n"` is different from `\n` as `r""` specifies a **raw string**. Explore the following to see the difference.

In [55]:
print(r"\n")

\n

In [56]:
print("\n")

The `\n` here is one of [*string literals*](https://docs.python.org/3/reference/lexical_analysis.html#literals) which means a new line. Other commonly used literals include `\t` for tab, and `\'` `\"` for single and double quotes. These are special characters and need a backslash `\` to escape characters that otherwise have other meanings.

Triple quotations define a **multi-line string**. These are helpful for long strings spaning across lines, and are often used in doc strings.

In [60]:
print('''

here is a multi-line string

''')

here is a multi-line string

In [61]:
print("""here is
the same multi-line
string""")

here is
the same multi-line
string

#### 2.2 Formatted string
Formatted printing can be useful when you want to print out results or reports. The following example formats the float to 3 digits after decimal points by `{:.3f}`. The next example shows different formatting on same number. Most commonly used type codes includes:
* `f` ~ float
* `d` ~ integer
* `s` ~ string

In [62]:
print(math.e)

2.718281828459045

In [63]:
print("e is approximately {}".format(math.e))

e is approximately 2.718281828459045

In [69]:
print("e is approximately {:.4f}".format(math.e))

e is approximately 2.7183

In [35]:
print("here is e again with more precision {:.8f}".format(math.e))

here is e again with more precision 2.71828183

In [70]:
print("int: {0:08d};  bin: {0:b};  number: {1:n};  float1: {0:.3f};  float2: {1:011.6f} ".format(12345, 123.45678))

int: 00012345;  bin: 11000000111001;  number: 123.457;  float1: 12345.000;  float2: 0123.456780

Explore [formatted string](https://docs.python.org/3/library/string.html#format-string-syntax) if you are not familiar with it before completing the next exercise.

#### 2.3 String slicing
Python treats a string as a sequence of characters, so we can index individual characters like the following:

In [71]:
topic = "Data Science"
print(topic[0])
print(topic[-1])

D
e

In [72]:
topic[-2]

'c'

We can also do the following with indexing:

In [73]:
# slicing start:end
print(topic[0:4])
# [0:4) --> 0,1,2,3

Data

In [74]:
print(topic[-7:])
print(topic[:4])

Science
Data

In [78]:
print(topic[::2])

Dt cec

In [79]:
print(topic[::-1])

ecneicS ataD

In [42]:
print(topic[0:4])
print(topic[-7:])
print(topic[::-1])

Data
Science
ecneicS ataD

Idea of index is very import, not only for string, but other data type we'll mention later. Python index starts with `0` as most of other languages do.
```
 D  a  t  a     S  c  i  e  n  c  e         String
 0  1  2  3  4  5  6  7  8  9 10 11         Index
-12-11-10 -9 -8 -7-6 -5 -4 -3 -2 -1         Reverse Index 
```

Here `[:4]` means take the slice of position 0 to 3, as the interval is "half open" like \[0,4) (0 or -1 is usually omitted in slicing). 
For the last example, it follows the pattern of `[start:stop:step]`, and `[::-1]` means take a step of `-1` (reverse)make a reverse copy for the entire string so you get the answer above.

In [94]:
print(topic[::-1])

eniSaa

It's important to remember strings are **immutable object**, which means, you can not modify the internal characters of a string.

In [80]:
topic

'Data Science'

In [81]:
topic[4]

' '

In [82]:
topic[4] = '?'

TypeError: 'str' object does not support item assignment

Above example shows python is not allowing to modify the character at position 4 and raised an `exception`. This is our first time seeing `exception` and `Traceback`, they are usually super helpful to debugging. Pay attention to the line number highlighted by `---->` and exception name `TypeError`.

Though you cannot change part of the string, you can reconstruct the string and reassign the same name.

In [11]:
topic[5:]

'Science'

In [83]:
topic = topic[:4] + '?' + topic[5:]
print(topic)

Data?Science

#### 2.4 String operations and methods

As we have used them in `print` function, we know `+` and `*` operators work on strings similarly as they work on integers.

In [84]:
print(topic + 'is cool' + '!!!')
print((topic + 'is cool' + '!!!')*5)

Data?Scienceis cool!!!
Data?Scienceis cool!!!Data?Scienceis cool!!!Data?Scienceis cool!!!Data?Scienceis cool!!!Data?Scienceis cool!!!

You can also use comparison operators like `>` and `<`. It's based on alphabetical order. What are the answers for the following comparison? Run the code and see if you're right.

`==` equal

In [85]:
print('aaa' < 'bbb')
print('2' > '13')
print(int('2') > int('13'))

True
True
False

Note the second example is compared on alphabetical order, and since the first character of `2` comes after the first character of `13`, `2` is greater than `13` in string comparison.

Though strings are not mutable, python has convenient methods you can use to modify the string some some simple manipulation. Below are some examples covering common ones, exlore [official documentation](https://docs.python.org/3/library/stdtypes.html#str) for more string methods.

Another useful documentation summary: [Python String Format Cookbook](https://mkaz.blog/code/python-string-format-cookbook/)

In [102]:
topic

'Data?Science'

In [88]:
list(topic)

['D', 'a', 't', 'a', '?', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [89]:
''.join(list(topic))

'Data?Science'

In [90]:
topic="Data Science"
print(topic.lower())
print(topic.upper())
print(topic.replace(' ', 'is part of '))
print('@@@'.join(topic.split(' ')))
print('@'.join(topic))

_topic_ = '      Data Science____'
print(_topic_.strip(' '))

data science
DATA SCIENCE
Datais part of Science
Data@@@Science
D@a@t@a@ @S@c@i@e@n@c@e
Data Science____

In [91]:
Unit="python basic"
num="1234"
print(Unit.capitalize())
print(Unit.title())
print(Unit.find("a"))
print(num.isalnum())
print(Unit.isalpha())
print(Unit.replace(' ', '').isalpha())
print('python' in Unit)

Python basic
Python Basic
8
True
False
True
True

#### 2.5 ***Advanced*** Regular Expression (Regex) using `re`

Examples show `replace()` is very easy to use, but not very intellegent - not friendly to use for wildcards, 
or matching string on condition of other characters in the string, or some generalized string pattern. 

Python support advance string pattern match using [regular expression](https://en.wikipedia.org/wiki/Regular_expression). These are super useful if you are processing unstructured text data or log files. This is more advanced than the purpose of this course. Feel free to read [python regular expression official documentation](https://docs.python.org/3/library/re.html).

If there is interest in learning this topic, we can have some examples in data exploration session later on.

In [92]:
import re



#### Exercise 2:
1. Define a fraction number with numerator=123 and denominator=456, print out the fraction number in format `a/b` and the quotient with 8 digits after decimal point.

Sample output: `"123/456 = 0.269737"`

In [109]:
numerator = 123
denominator = 456

# code up your solution below

2. Print out every other character of the string `"Data Science"` using string slicing.

In [110]:
# code up you solution here

3. The string `regex_wiki` contains the second paragraph of regular expression introduction in Wikipedia. Modify the string with all lower case and no space.

In [111]:
regex_wiki = """The concept arose in the 1950s when the American mathematician Stephen Cole Kleene formalized 
the description of a regular language. The concept came into common use with Unix text-processing utilities. 
Different syntaxes for writing regular expressions have existed since the 1980s, one being the POSIX standard 
and another, widely used, being the Perl syntax."""

# code up your solution below and print to check answer

4. Replace all `data` with `<3` in the following string. Use a string method to check `data` is not in the new string.

In [112]:
data_science = """Data science continues to evolve as one of the most promising and in-demand career paths for 
skilled professionals. Today, successful data professionals understand that they must advance past the traditional 
skills of analyzing large amounts of data, data mining, and programming skills. In order to uncover useful 
intelligence for their organizations, data scientists must master the full spectrum of the data science life cycle 
and possess a level of flexibility and understanding to maximize returns at each phase of the process."""

# code up your solution below

5. (Bonus Challenge): if you are familiar with string manipulation and `regex`, use python's regular expression `re` module to replace the first `a` in all `data` in the paragraph above, and keep the original case for the word.

`Data ---> D<3ta`, `data ---> d<3ta`, `DATA --- D<3TA`, etc.

We can use this example for an intro to regex if some of your are interested.

In [106]:
import re
# code up your solution here

Check out [Regular Expression syntax](https://docs.python.org/3/library/re.html#regular-expression-syntax) for how to "look around" in your pattern.

### 3. Value comparison and conditions
#### 3.1 Boolean and comparison

In earlier session, booleans are showed as one of basic python variable types. Booleans are the simplest type in python with only two values: `True` and `False`

In [93]:
# notice these are case sensitive
true = False
false = True

Note: define boolean, the first character of the two values must be capitalized. Try below boolean asignment to get an idea

In [95]:
print(False)
print(false)

False
True

Almost everything in python is mapped to a boolean value, even if it's not boolean type. This could be checked using `bool()` function. Empty strings, zero, and empty collection (we'll cover later) will have `False` value.

In [96]:
print(bool("data"))
print(bool(123))
print(bool(""))
print(bool(0))

True
True
False
False

In [105]:
a = 'abc'

if a:
# if a == True:
# if a != 0:  # for integer
# if a != '': # for string
    # some code
#     pass
    print(a)
print(123)

abc
123

Boolean is such an essential data type for programming due to its comparision functionality

In [106]:
3 < 4

True

In [107]:
3 == 4

False

In [108]:
bool1 = 3 == 4
print(bool1)

False

In [109]:
5 > 13

False

In [110]:
bool2 = 5 > 13
print(bool2)

False

In [111]:
print("data" == "data")
print("data" == "DATA".lower())
print("data" != "science") # is not equal to

True
True
True

#### 3.2 Logical Operators
Booleans work with logical operators can make comparision among multiple items, or check if several condition are all met or only one/few met. Python has three logical operators: `and`, `or`, and `not`.

In [112]:
a=2
b=4
c=7 
d=17

a<b and a>c
# True, False
# condition1 and condition2 => true

False

In [113]:
b>a and b<c

True

In [114]:
a<b or a>c
# condition1 or condition2 => true

True

In [115]:
not b<a

True

In [116]:
((not a>b) or a<d) and b>c # order of comparison:

False

#### 3.3 Conditions and program control

#### `If` statement, `elif` and `else`

Boolen are used to control the program flow based on values of variables. 

The code within indentation after `if [condition]:` will only be executed if the `[condition]` is `True`. Otherwise the block will be skipped.

Code is controlled by indentation

In [ ]:
if condition1:
    # something for condition1
    #
    #
    if condition4:
        # something for condition1 & condition4
    elif condition5:
        # something for condition1 & condition5
# elif's are optional
elif conditon2:
    # something for condition2
elif condition3:
    # something for condition3
#...
# else is also optional
else:
    # something for everything else

In [117]:
if 2 < 1:
    print('if only')
    print('if only')

print("this is logically correct.")

this is logically correct.

In [120]:
if 3 > 4:
    print("this is wrong.")

Evaluate the given condition expression --> if evaluates to `True`, move into indented code block --> if evaluates to `False`, skip indented code block.

Of course we usually want a bit more sophisticated control than one comparison even if condition is `False`, that's when `elif` and `else` help us handle the other scenarios. We can make thing a bit more complex now.

In [121]:
'ata' in 'Data' # substring in string

True

In [125]:
string = "data science is fun"

if "data" in string:
    print("i've got some data")
elif "fun" in string:
    print("i've got some fun")
else:
    print("no data and no fun :(")

i've got some data

Notice the order you write the condition are important as it will affect the result. If the previous `if` condition is met, the code won't check `elif` and `else`. For example with the same input and condition, order changed, the output is different. There are usually ways to optimize for correctness and efficiency.

If you are not familiar with `if-elif-else` statements, feel free to read more about it [here](http://anh.cs.luc.edu/handsonPythonTutorial/ifstatements.html#multiple-tests-and-if-elif-statements)

In [126]:
string = "data science is fun"

if "fun" in string:
    print("i've got some fun")
elif "data" in string:
    print("i've got some data")
else:
    print("no data and no fun :(")

i've got some fun

In [127]:
if "fun" in string:
    print("i've got some fun")
if "data" in string:
    print("i've got some data")
if ("fun" not in string) and ("data" not in string):
    print("no data and no fun :(")

i've got some fun
i've got some data

Of couse you can use boolen operations here in the conditions to check multiple things.

In [128]:
string = "data science is fun" #"i have some data" 

if ("fun" in string) and ("data" in string):
    print(string.upper(),'!')
elif "fun" in string: 
    print("i've got some fun")
elif "data" in string:
    print("i've got some data")
#     pass # do nothing
else:
    print("no data and no fun :(")

DATA SCIENCE IS FUN !

What if I don't want to anything when a condition is met? Leaving it blank will throw an exception like shown below. Luckily there is an useful `pass` statement in python, which serves as a place holder ofr empty python block.

In [129]:
if "science" in string:

IndentationError: expected an indented block (2238887345.py, line 2)

In [130]:
# with a placeholder, this will run
if "science" in string:
    pass

#### Exercise 3.

1. Write a program flow which will assign `grade` by the test scores using the following conditions:

    1. If score >= 90, grade="A"
    2. If 80 >= score >90, grade="B"
    3. If 70 >= score >80, grade="C"
    4. If 60 >= score >70, grade="D"
    5. IF score < 60, grade="F"

In [142]:
# code up your solution here

2. x=1, y=1, write a flow to assign messge to different value base on different criteria as below, and in the end print out the message:

    a. If x less than y, messge="x is less than y"
    
    b. If x larger than y, messge="x is greater than y"
    
    c. If x equal to y, messge="x is the same as y"

In [143]:
# code up your solution here